<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.ts.mapper.ExamLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.exam.ts.pojo.ExamLogDO">
        <id column="log_id" property="logId" />
        <result column="log_date" property="logDate" />
        <result column="log_time" property="logTime" />
        <result column="log_room" property="logRoom" />
        <result column="log_student_num" property="logStudentNum" />
        <result column="log_paper_title" property="logPaperTitle" />
        <result column="log_pass" property="logPass" />
        <result column="log_create_by" property="logCreateBy" />
        <result column="log_version" property="logVersion" />
        <result column="log_delete" property="logDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        log_id, log_date, log_time, log_room, log_student_num, log_paper_title, log_pass, log_create_by, log_version, log_delete
    </sql>

    <select id="getListByPage" parameterType="com.exam.core.pojo.Page" resultMap="BaseResultMap">
      SELECT
      <include refid="Base_Column_List"/>
      FROM te_exam_log
        <where>
            log_delete = 1
            <if test="params.logTime != null and params.logTime != ''"  >
                and log_time = #{params.logTime}
            </if>
            <if test="params.logRoom != null and params.logRoom != ''"  >
                and log_room  like '%${params.logRoom}%'
            </if>
            <if test="params.logPaperTitle != null and params.logPaperTitle != ''"  >
                and log_title  like '%${params.logPaperTitle}%'
            </if>
        </where>
        <if test="sortName!=null and sortName!=''">
            order by ${sortName} ${sortOrder}
        </if>
        limit #{index}, #{currentCount}
    </select>

    <select id="getCountByPage" parameterType="com.exam.core.pojo.Page" resultType="java.lang.Integer">
        SELECT
        count(*)
        from te_exam_log
        <where>
            log_delete = 1
            <if test="params.logTime != null and params.logTime != ''"  >
                and log_time = #{params.logTime}
            </if>
            <if test="params.logRoom != null and params.logRoom != ''"  >
                and log_room  like '%${params.logRoom}%'
            </if>
            <if test="params.logPaperTitle != null and params.logPaperTitle != ''"  >
                and log_title  like '%${params.logPaperTitle}%'
            </if>
        </where>
    </select>
</mapper>
